.rental-item span{
    margin-bottom: 5px;
    text-align: center;
}

.rental-item{
    margin-right: 30px;
}

.rental-item span button {
    margin-top: 10px;
}

h2 {
    text-align: center;
    font-family: 'Franklin Gothic';
    font-weight: bold;
    text-decoration: underline;

}

.box{
    text-align:center;
    margin:auto;
    margin-top: 60px;
    width: 500px;
    border: 5px solid black;
}

.monkey {
    border: 5px solid black;
    width: 500px;
    margin:auto;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.monkey h2{
    color: rgb(27, 27, 27);
    font-family:'Franklin Gothic';
    font-weight:bold;
    text-decoration: none;
    text-align: justify;
}

.return {
    font-family:'Arial';
    font-weight:bold;
    font-size: 16pt;
    color:white;
    padding: 10px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: rgb(236, 17, 17);
    width:480px;
  }

  .return:hover {
    color:rgb(255, 255, 255);
    background-color:rgb(181, 7, 7);
  }