<div class = "box">
<h2>Your Rented Monkeys</h2>
    <ul class="rental-item">
        <li style="list-style-type:none;" *ngFor="let monkey of monkeys">
                <button [class.selected]="monkey === selectedMonkey" type="button" (click)="onSelect(monkey)">
                <span class="name"> Name: {{monkey.name}} |</span>
                <span class="species"> Species: {{monkey.species}} </span>
              </button>
        </li>
    </ul>
</div>

    <div class = "monkey" *ngIf="selectedMonkey">

        <h2>{{selectedMonkey.name | uppercase}} Details</h2>
        <div>Name: {{selectedMonkey.name}}</div>
        <div>Description: {{selectedMonkey.description}}</div>
        <div>Price Per Hour: ${{selectedMonkey.price}}</div>
        <div>
            <button id = "return" type="button" class="return" title="return monkey"
            (click)="returnFromRented(selectedMonkey.id); this.getRentedList(); this.getMonkeyList(); ngOnInit(); deselect();">Return Monkey</button>
    </div>
