
estore-ui/angular-monkey-estore/.scannerwork/.sonar_lock
estore-ui/angular-monkey-estore/.scannerwork/css-bundle/stylelintconfig.json
estore-ui/angular-monkey-estore/.scannerwork/report-task.txt
*.xml
*.iml
