<link rel="stylesheet" href="shopping-cart.component.css">
<div class="cart">
    <div class ="header">
        <h3>My Shopping Cart</h3>
    </div>   
    <div class="cart-item" *ngFor="let item of items">
        <span *ngIf="item.rented && checkCart(item)">
            <span style="background-color:#f52d51;">
                <span id = "name"> {{item.name}} </span>
                <span id = "price"> ${{item.price}}</span>
            </span>
        <button (click)="removeFromCart(item)">Remove from Cart</button>
        This monkey has been rented and is unavailable
        </span>
        <span *ngIf="!(item.rented && checkCart(item))">
            {{item.name}} ${{item.price}}
            <button (click)="removeFromCart(item)">Remove from Cart</button>
        </span>
    </div>
    <div class="total">
        <p>
            Grand Total: <span> ${{this.total}}</span>
        </p>
    </div>
    <div class="checkout">
        <button (click)="clearCart()"> Checkout </button>
    </div>
</div>


