<h3>Your Shopping Cart</h3>

<div class="cart-item" *ngFor="let item of items">
    <span *ngIf="item.rented && checkCart(item)">
        <span style="background-color:#f52d51;">
            {{item.name}} ${{item.price}}
        </span>
        <button (click)="removeFromCart(item)">Remove from Cart</button>
        This monkey has been rented and is unavailable
    </span>
    <span *ngIf="!(item.rented && checkCart(item))">
        {{item.name}} ${{item.price}}
        <button (click)="removeFromCart(item)">Remove from Cart</button>
    </span>
</div>
<button (click)="clearCart()"> Checkout </button>



