
 .cart {
    width: 500px;
    border: 5px solid black;
}

.header h3 {
    font-family:Arial;
    font-size: 20pt;
}

.cart-item {
    font-size: larger;
    font-family: 'Franklin Gothic';
    margin-bottom: 10px;
}

.cart-item button{
    margin-left: 10px;
}

.checkout button{
    font-family:'Arial';
    font-weight:bold;
    font-size: 16pt;
    color:white;
    padding: 10px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: rgb(17, 166, 17);
    width:480px;
}

.checkout button:hover{
    color:rgb(255, 255, 255);
    background-color:rgb(26, 121, 26);

}