<link rel="stylesheet" href="login-page.component.css">
<div class = "loginPage" *ngIf="currentUserService.user.id === 0; else elseBlock">
    
    <h2>Login</h2>

    <div class = "login">
        <label for="username">{{enterUsernameText}}</label>
        <input id="username" #username />
        <button type="button" style = "cursor:pointer" autofocus (click)="login(username.value); username.value=''">Login</button>
    </div>

    <p> or </p>

    <h2 id = "createUser">Create User</h2>
    
    <div class = "signUp">
        <label for="newUsername">{{createUsernameText}}</label>
        <input id="newUsername" #newUsername />
        <button type="button" style = "cursor:pointer" autofocus (click)="createUser(newUsername.value); newUsername.value=''">Create</button>
    </div>

</div>
<ng-template #elseBlock>
        <a id = "logout" onclick="location.href=''" (click)="logout()">Logout</a>
</ng-template>