<h1>{{title}}</h1>
<app-login-page></app-login-page>
<app-owner-page *ngIf="currentUserService.user.id === 1;">
</app-owner-page>
<!-- 
<app-buyer-product-list *ngIf="currentUserService.user.id !== 1 && currentUserService.user.id !== 0;"></app-buyer-product-list>
-->
<nav *ngIf="currentUserService.user.id !== 1 && currentUserService.user.id !== 0;">
    <a routerLink="/buyer-product-list"> Product Page</a><br>
    <a routerLink="/shopping-cart"> Shopping Cart</a> 
</nav>
<router-outlet *ngIf="currentUserService.user.id !== 1 && currentUserService.user.id !== 0;"></router-outlet>
