<style>
    button{
        width: 250px;
        height: 60px;
    }
</style>

<div id = "search">
    <label for="search-box">Search Monkeys </label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)">
</div>

<div id = "searchMonkey" >
    <ul class="monkeys">
        <li style="list-style-type:none;" *ngFor="let monkey of monkeys$ | async">
            <a routerLink="/product-page/{{monkey.id}}">
            <button style = "cursor:pointer" type="button" (click)="clickEvent(monkey)">
                <div style="font-size:larger; font-weight:550; font-style: oblique;">
                    {{monkey.name}} the {{monkey.species}} <br>price: ${{monkey.price}}<br>
                    <span *ngIf="monkey.rented">
                        Unavailable
                    </span>
                    <span *ngIf="!monkey.rented && checkCart(monkey)">
                        Currently in Cart
                    </span>
                    <span *ngIf="!(monkey.rented || checkCart(monkey))">
                        Available
                    </span>
                </div>
            </button>
            </a>
        </li>
    </ul>
</div>

<br>
<div id = "monkeyList">
<h2>All Monkeys</h2>
<div style="display: inline-block;">
    <ul class="monkeys">
        <li style="list-style-type:none;" *ngFor="let monkey of monkeys">
            <a routerLink="/product-page/{{monkey.id}}">
            <button style = "cursor:pointer" type="button" (click)="clickEvent(monkey)">
                <div style="font-size:larger; font-weight:550; font-style: oblique;">
                    {{monkey.name}} the {{monkey.species}} <br>price: ${{monkey.price}}<br>
                    <span *ngIf="monkey.rented">
                        Unavailable
                    </span>
                    <span *ngIf="!monkey.rented && checkCart(monkey)">
                        Currently in Cart
                    </span>
                    <span *ngIf="!(monkey.rented || checkCart(monkey))">
                        Available
                    </span>
                </div>
            </button>
            </a>
        </li>
    </ul>
</div>
</div>
<!--<a routerLink="/shopping-cart" style="position:fixed; top: 40px; right: 50px">
    <img src="../../assets/cart_icon.png" style="height: 50px; width: 50px;">
</a> -->

<router-outlet></router-outlet>