<div *ngIf="monkey">
    <h2> {{monkey.name | uppercase}} Details <br></h2>
    Species: {{monkey.species}} <br>
    Price Per Hour: ${{monkey.price}} <br>
    Description: {{monkey.description}} <br>
    <span *ngIf="monkey.rented">
        Unavailable
    </span>
    <span *ngIf="!monkey.rented && checkCart(monkey)">
        Currently in Cart
    </span>
    <span *ngIf="!(monkey.rented || checkCart(monkey))">
        Available for Rent<br>
        <button type="button" (click)="addToCart(monkey)">Add To Cart</button>
    </span>
    <button type="button" (click)="goBack()">Back</button>

    <br>
    <h3>RATING</h3>
    <span *ngIf="getAverageRating() == -1">
        No Ratings Yet
    </span>
    <span *ngIf="getAverageRating() != -1">
        {{getAverageRating()}}/5
    </span>
    <br>
    <h3>REVIEWS</h3>
    <span *ngIf="getReviews().length == 0">
        No Reviews Currently
    </span>
    <span *ngIf="getReviews().length != 0">    
        <li *ngFor="let review of getReviews()">
            {{review}}
        </li>
    </span>
</div>