<div *ngIf="monkey">
    <h2> {{monkey.name | uppercase}} Details <br></h2>
    Species: {{monkey.species}} <br>
    Price Per Hour: ${{monkey.price}} <br>
    Description: {{monkey.description}} <br>
    <span *ngIf="monkey.rented">
        Unavailable
    </span>
    <span *ngIf="!monkey.rented && checkCart(monkey)">
        Currently in Cart
    </span>
    <span *ngIf="!(monkey.rented || checkCart(monkey))">
        Available for Rent<br>
        <button type="button" (click)="addToCart(monkey)">Add To Cart</button>
    </span>
    <button type="button" (click)="goBack()">Back</button>
</div>